body {
	  background-color: lightblue;
background-image:url("https://lh3.googleusercontent.com/gu_ebUkTY9mNCnCbLxkorxI2M_rnmXdkfJo1NFqk60t9sFGK7x0u3mennzET6fcuIeSYolXTH635vPLiO3REPrQbFzZzT9TQqEAh3Pr_VExMMPFi7iwz3VJpV9OVjD_-2u15FoWnclU=w2400");

  filter: blur(8px);
    -webkit-filter: blur(8px);
    }
